@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
:root {
  /* Text */
  --Very-dark-blue: hsl(238, 29%, 16%);
  --Soft-red: hsl(14, 88%, 65%);
  --Very-dark-grayish-blue: hsl(237, 12%, 33%);
  --Dark-grayish-blue: hsl(240, 6%, 50%);
  /* Background gradient */
  --Soft-violet: hsl(273, 75%, 66%);
  --Soft-blue: hsl(240, 73%, 65%);
  /* Dividers */
  --Light-grayish-blue: hsl(240, 5%, 91%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}
html {
  height: 100%;
}
body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
  background: linear-gradient(to bottom, var(--Soft-violet), var(--Soft-blue));
  overflow: hidden;
}
.container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 38vw;
  margin: 0 8vw;
  border-radius: 20px;
  height: auto;
  min-height: 400px;
  max-height: 470px;
}
.image {
  position: relative;
  top: -29vw;
  width: 75%;
}
.image img {
  width: 100%;
}
.bgImage {
  position: relative;
  top: -20vw;
  height: 27vw;
  width: 100%;
  background: url("images/bg-pattern-mobile.svg") no-repeat center/cover;
}
.faq {
  position: relative;
  top: -41vw;
  width: 100%;
  padding: 0 5vw;
}
.faq h2 {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  padding: 0 3vw 6vw 3vw;
}
.ques {
  border-bottom: 1px solid var(--Light-grayish-blue);
}
.accordion {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--Very-dark-grayish-blue);
  font-weight: 400;
  width: 100%;
  padding: 3vw 0;
}
.accordion:hover,
.active {
  cursor: pointer;
  font-weight: 700;
}
.accordion img {
  margin: 0 0.4vw;
}
.panel {
  display: none;
  overflow: hidden;
  padding: 0 0 4vw 0;
}
.panel.show {
  display: block !important;
}
.panel p {
  color: var(--Dark-grayish-blue);
}
.attribution {
  font-size: 11px;
  text-align: center;
  position: relative;
  top: -25vw;
}
.attribution a {
  color: grey;
}
@media (min-width: 600px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 12vw auto;
    top: 0;
    height: 50vw;
    min-height: auto;
    max-height: auto;
    flex-wrap: wrap;
    width: 60vw;
  }
  .break {
    flex-basis: 100%;
    height: 0;
  }
  .image {
    position: relative;
    top: 6vw;
    left: -5.5vw;
    width: 50%;
    /*
    To clip an image
    position: absolute;
    clip: rect(auto, auto, auto, 5.5vw);
    */
  }
  .image img {
    width: 100%;
  }
  .bgImage {
    position: relative;
    top: -5vw;
    height: 13vw;
    width: 100%;
  }

  .faq {
    position: relative;
    top: -2vw;
    left: -2vw;
    width: 50%;
    padding: 0 3vw;
  }
  .faq h2 {
    text-align: left;
    font-weight: 700;
    font-size: 30px;
    padding: 0.5vw 0;
  }
  .ques {
    border-bottom: 1px solid var(--Light-grayish-blue);
  }
  .accordion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--Very-dark-grayish-blue);
    font-weight: 400;
    width: 100%;
    padding: 1vw 0;
  }
  .accordion:hover,
  .active {
    cursor: pointer;
    font-weight: 700;
  }
  .accordion img {
    margin: 0 0.4vw;
  }
  .panel {
    display: none;
    overflow: hidden;
    padding: 0 0 2vw 0;
  }
  .panel.show {
    display: block !important;
  }
  .panel p {
    color: var(--Dark-grayish-blue);
  }
  .attribution {
    font-size: 11px;
    text-align: center;
    position: relative;
    top: 0;
  }
  .attribution a {
    color: blue;
  }
}
