@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
:root {
  /* Text */
  --Very-dark-blue: hsl(238, 29%, 16%);
  --Soft-red: hsl(14, 88%, 65%);
  --Very-dark-grayish-blue: hsl(237, 12%, 33%);
  --Dark-grayish-blue: hsl(240, 6%, 50%);
  /* Background gradient */
  --Soft-violet: hsl(273, 75%, 66%);
  --Soft-blue: hsl(240, 73%, 65%);
  /* Dividers */
  --Light-grayish-blue: hsl(240, 5%, 91%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
  background: linear-gradient(to bottom, var(--Soft-violet), var(--Soft-blue));
  min-height: 100%;
}
.container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 38vw;
  margin: 0 7vw;
  border-radius: 20px;
}
.image {
  position: relative;
  top: -29vw;
  width: 75%;
}
.image img {
  width: 100%;
}
.bgImage {
  position: relative;
  top: -20vw;
  height: 28vw;
  width: 100%;
  background: url("images/bg-pattern-mobile.svg") no-repeat center/cover;
}
.faq {
  position: relative;
  top: -41vw;
  width: 100%;
  padding: 0 5vw;
}
.faq h2 {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  padding: 0 3vw 6vw 3vw;
}
.ques {
  border-bottom: 1px solid var(--Light-grayish-blue);
}
.accordion {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: white;
  color: var(--Very-dark-grayish-blue);
  font-weight: 400;
  width: 100%;
  border-style: none;
  padding: 3vw 0;
}
.accordion span,
.accordion img {
}
.panel {
  display: none;
  overflow: hidden;
  padding: 0 0 4vw 0;
}
.panel p {
  color: var(--Dark-grayish-blue);
}
.attribution {
  position: relative;
  top: -35vw;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media (min-width: 600px) {
  .container {
    display: flex;
    flex-direction: row;
    top: 0;
  }
  .image {
    top: 0;
  }
  .bgImage {
    top: 0;
  }
  .faq {
    top: 0;
  }
  .attribution {
    top: 0;
  }
}
